
//- Main Dashboard
//-==================================================
section.main
	.row
		.page-table(class=['col','s12'])
			table#incidents.table(class=['highlight','bordered'], style='width:100%')
