extends ./layout.jade

block styles
	link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	link(rel="stylesheet" media="all" href="http://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet" media="all" href="/css/lib.css")
	link(rel="stylesheet" media="all" href="/css/index.css")

block content

block scripts
	script(src="/js/lib.js")
	script(src="/js/index.js")
